body {
  background: #fff;
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: "Work Sans", Arial, sans-serif;
  color: #555;
  margin: 0;
}

/* STATIC IMAGES */
.logo {}

.hero-image {}

/* TEXT */
h1,
h2,
p {
  padding: 0px 20px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0 0 0 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_1_of_2 {
  width: 49.2%;
  height: 100%;
}

.span_2_of_2 {
  width: 49.2%;
}

/*  MOBILE ONLY RULES */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .col {
    margin: 0 0 0 0;
  }

  .span_1_of_2 {
    width: 100%;
    height: 100%;
  }

  .span_2_of_2 {
    width: 100%;
  }

  body {
    margin: 0 0 0 0;
  }

  h2 {
    font-size: 20px;
  }
}

/*  DESKTOP ONLY RULES */
@media screen and (min-width: 800px) {
  .content {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 50%;
    margin-top: -20%;
    text-align: center;
  }
