<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Picture Shift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Extract Text from Images and Convert the Text to an MP3 File | Picture Shift">
  <meta name="author" content="Kevin S.">

  <!-- FAVICONS -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='assets/favicon.ico') }}" type="image/x-icon">

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

  <!-- STYLES -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  <div class="section group">
    <div class="col span_1_of_2" style="background-color: #434bdf;">

      <img src="{{ url_for('static',filename='assets/logo.png') }}" alt="Picture Shift Logo" style="padding: 10px;">
      <br><br>
      <span style="text-align: center;" class="content">
        <img src="{{ url_for('static',filename='assets/hero.svg') }}" alt="Picture Shift Banner" style="display: block; margin-left: auto; margin-right: auto; max-width: 375px">
        <br>
        <h1 style="color: #fff; font-weight: 400;">Picture Shift</h1>
        <h2 style="color: #fff; font-weight: 400;">Convert Your Images to Text & Audio</h2>
        <p style="color: #fff">Quickly convert your images to text and audio using Picture Shift.
          This application is designed to be handicap accessible and intends to help people
          who are vision impaired convert images of notes or text to a plain text file or to an
          audio file.</p>
        <br>
        <form action="https://github.com/ks-imagine/PictureShift" method="get" target="_blank">
          <button type="submit">View Source Code</button>
        </form>
      </span>
    </div>
    <div class="col span_2_of_2">
      <form method=post enctype=multipart/form-data> <h2>Step 1: Choose Your File</h2>
        <p><input type=file name=file></p>
        <h2>Step 2: Upload Your File</h2>
        <p><input type=submit value=Upload></p>
      </form>

      {% if msg %}
      <h2>{{ msg }}</h2>
      {% endif %}
      <p>
        {% if img_src %}
        <img src="{{ img_src }}" style="max-width: 375px; max-height: 200px;  display: block;">
        {% endif %}
      </p>
      {% if extracted_text %}
      <h2>Result:</h2>
      <p>
        <b> {{ extracted_text }} </b>
      </p>
      <p>
        <audio controls autoplay>
          <source src="{{ mp3_file }}" type="audio/mpeg">
        </audio>
        <br>
        <a href="{{ mp3_file }}" download style="color: #434bdf;"><b>Click Here to Download MP3 File<b></a>
        <br>
        <a href="{{ mp3_file }}" download style="color: #434bdf;"><b>Click Here to Download TXT File<b></a>
      </p>
      {% endif %}
    </div>
  </div>

</body>

</html>
