<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Picture Shift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Extract Text from Images and Convert the Text to an MP3 File | Picture Shift">
  <meta name="author" content="Kevin S.">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="https://www.pictureshift.com/static/assets/favicon.ico" type="image/x-icon">
  <!-- <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"> -->
  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet" />
  <!-- STYLES -->
  <link rel="stylesheet" href="https://www.pictureshift.com/static/css/main.css">
  <!-- <link rel="stylesheet" href="/static/css/main.css" /> -->
  <!-- JavaScript -->
  <script type="text/javascript" src="https://www.pictureshift.com/static/js/script.js"></script>
  <!-- <script type="text/javascript" src="/static/js/script.js"></script> -->
</head>

<body>
  <div>
    <div id="fixed-content">
      <h1 id="title">Picture Shift</h1>
      <img src="https://www.pictureshift.com/static/assets/hero.svg" alt="Picture Shift Banner" id="hero">
      <!-- <img src="/static/assets/hero.svg" alt="Picture Shift Banner" id="hero"> -->
      <br>
      <h2 id="subtitle">Quickly convert your images to text and audio.</h2>
    </div>
    <div id="row">
      <div class="inner-row">
        <div id="retry-div" class="outer-stage column" style="text-align:center;">
          <!--remove column class-->
          <div class="inner-stage">
            <form method=post enctype=multipart/form-data>
              <h3 class="forms">Which option best describes the style of the text?</h3>
              <select name="text-style" class="file-upload-buttons">
                <option value="handwritten">Handwritten Text</option>
                <option value="typed">Typed Text</option>
                <option value="fancy">Fancy Text</option>
                <option value="none">N/A</option>
              </select>
              <h3 class="forms">What language is this written in?</h3>
              <select name="language" class="file-upload-buttons">
                <option value="afr">Afrikaans</option>
                <option value="sqi">Albanian</option>
                <option value="amh">Amharic</option>
                <option value="ara">Arabic</option>
                <option value="hye">Armenian</option>
                <option value="asm">Assamese</option>
                <option value="aze">Azerbaijani</option>
                <option value="eus">Basque</option>
                <option value="bel">Belarusian</option>
                <option value="ben">Bengali</option>
                <option value="bos">Bosnian</option>
                <option value="bre">Breton</option>
                <option value="bul">Bulgarian</option>
                <option value="mya">Burmese</option>
                <option value="cat">Catalan</option>
                <option value="cos">Corsican</option>
                <option value="hrv">Croatian</option>
                <option value="ces">Czech</option>
                <option value="dan">Danish</option>
                <option value="div">Divehi; Dhivehi; Maldivian</option>
                <option value="nld">Dutch</option>
                <option value="dzo">Dzongkha</option>
                <option value="eng">English</option>
                <option value="epo">Esperanto</option>
                <option value="est">Estonian</option>
                <option value="fao">Faroese</option>
                <option value="fin">Finnish</option>
                <option value="fra">French</option>
                <option value="gla">Gaelic; Scottish Gaelic</option>
                <option value="glg">Galician</option>
                <option value="kat">Georgian</option>
                <option value="deu">German</option>
                <option value="ell">Greek, Modern (1453-)</option>
                <option value="guj">Gujarati</option>
                <option value="hat">Haitian; Haitian Creole</option>
                <option value="heb">Hebrew</option>
                <option value="hin">Hindi</option>
                <option value="hun">Hungarian</option>
                <option value="isl">Icelandic</option>
                <option value="ind">Indonesian</option>
                <option value="iku">Inuktitut</option>
                <option value="gle">Irish</option>
                <option value="ita">Italian</option>
                <option value="jpn">Japanese</option>
                <option value="jav">Javanese</option>
                <option value="kan">Kannada</option>
                <option value="kaz">Kazakh</option>
                <option value="khm">Khmer</option>
                <option value="kir">Kirghiz</option>
                <option value="kor">Korean</option>
                <option value="lao">Lao</option>
                <option value="lat">Latin</option>
                <option value="lav">Latvian</option>
                <option value="lit">Lithuanian</option>
                <option value="ltz">Luxembourgish; Letzeburgesch</option>
                <option value="mkd">Macedonian</option>
                <option value="msa">Malay</option>
                <option value="mal">Malayalam</option>
                <option value="mlt">Maltese</option>
                <option value="mri">Maori</option>
                <option value="mar">Marathi</option>
                <option value="mon">Mongolian</option>
                <option value="nep">Nepali</option>
                <option value="nor">Norwegian</option>
                <option value="oci">Occitan (post 1500); Provencal</option>
                <option value="ori">Oriya</option>
                <option value="pan">Panjabi</option>
                <option value="fas">Persian</option>
                <option value="pol">Polish</option>
                <option value="por">Portuguese</option>
                <option value="pus">Pushto</option>
                <option value="que">Quechua</option>
                <option value="ron">Romanian</option>
                <option value="rus">Russian</option>
                <option value="san">Sanskrit</option>
                <option value="srp">Serbian</option>
                <option value="snd">Sindhi</option>
                <option value="sin">Sinhala; Sinhalese</option>
                <option value="slk">Slovak</option>
                <option value="slv">Slovenian</option>
                <option value="spa">Spanish; Castilian</option>
                <option value="sun">Sundanese</option>
                <option value="swa">Swahili</option>
                <option value="swe">Swedish</option>
                <option value="tgl">Tagalog</option>
                <option value="tgk">Tajik</option>
                <option value="tam">Tamil</option>
                <option value="tat">Tatar</option>
                <option value="tel">Telugu</option>
                <option value="tha">Thai</option>
                <option value="bod">Tibetan</option>
                <option value="tir">Tigrinya</option>
                <option value="ton">Tonga (Tonga Islands)</option>
                <option value="tur">Turkish</option>
                <option value="uig">Uighur</option>
                <option value="ukr">Ukrainian</option>
                <option value="urd">Urdu</option>
                <option value="uzb">Uzbek</option>
                <option value="vie">Vietnamese</option>
                <option value="cym">Welsh</option>
                <option value="fry">Western Frisian</option>
                <option value="yid">Yiddish</option>
                <option value="yor">Yoruba</option>
              </select>
              <h3 class="forms">What option best describes the background of the image?</h3>
              <select name="background-style" class="file-upload-buttons">
                <option value="noisy">Noisy</option>
                <option value="clear">Clear / Transparent</option>
                <option value="other">Other</option>
              </select>
            </form>
          </div>
        </div>
        <div id="circle-div" class="outer-stage column" style="text-align:center;">
          <!-- add/remove hide class -->
          <ul class="inner-stage">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </ul>
        </div>
        <div id="results-div" class="outer-stage column" style="text-align:center;">
          <!-- add/remove hide class -->
          <div class="inner-stage">
            <p>
              <img src="{{ img_src }}" id="conversion-image">
            </p>
            {% if extracted_text %}
            <h3 class="forms">Result:</h3>
            <p id="result-text">
              <b> {{ extracted_text }} </b>
            </p>
            <p>
              <audio controls autoplay>
                <source src="{{ mp3_file }}" type="audio/mpeg">
              </audio>
              <br>
              <a href="{{ mp3_file }}" download style="color: #fff;"><b>Click Here to Download MP3 File<b></a>
              <br>
              <a href="{{ txt_file }}" download style="color: #fff;"><b>Click Here to Download TXT File<b></a>
            </p>
            <p>
              <button onclick="window.location.href = '/';" class="file-upload-buttons">Try Another Image</button>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
